* {
  background-color: #1f1f1f;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  /* Make element widths constant, independent of padding or border */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.disableTextSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@gridSize: 80px;

.button {
  .disableTextSelection;
  .hasBorder;
  text-align: center;
  display: inline-block;
  width: @gridSize;
}

.grayButton {
  .button;
  background-color: #dddddd;
  color: black;
  &:hover {
    background-color: #fbfbfb;
  }
  &:active {
    background-color: gray;
  }
}


.smallGrayButton {
  .grayButton;
//  border-radius: 999px;
//  -webkit-border-radius: 999px;
//  -moz-border-radius: 999px;
  height: @gridSize;
  line-height: 2em; /* to vertically-center the text */
}

.bigGrayButton {
  .grayButton;
  height: (4 * @gridSize);
  line-height: 9em; /* to vertically-center the text */
}

.hasBorder {
  border: 1px solid black;
}

#calculator {
  width: (6 * @gridSize);
  height: (5 * @gridSize);
  margin: 0 auto;
  position: relative; /* just to make this element a "positioned" element versus a static element */
}

#accumulator {
  background-color: #000000;
  color: white;
  .hasBorder;
  position: absolute; /* relative to nearest positioned ancestor */
  left: 0;
  top: 0;
  width: (6 * @gridSize);
  height: @gridSize;
  text-align: right;
  padding: 0.5em 0.4em;
}

#clear {
  .bigGrayButton;
  position: absolute; /* relative to nearest positioned ancestor */
  left: 0;
  top: @gridSize;
  &:hover {
    background-color: #fbfbfb;
  }
  &:active {
    background-color: gray;
  }
}

#numberPad {
  position: absolute; /* relative to nearest positioned ancestor */
  left: @gridSize;
  top: @gridSize;
  width: (3 * @gridSize);
  height: (4 * @gridSize);
}


#operators {
  position: absolute; /* relative to nearest positioned ancestor */
  left: (4 * @gridSize);
  top: @gridSize;
  width: @gridSize;
  height: (4 * @gridSize);
}

.operationButton {
  .smallGrayButton;
  background-color: #F38630;
  color: white;
  &:hover {
    background-color: #ff9842;
  }
  &:active {
    background-color: gray;
  }
}

#equals {
  .bigGrayButton;
  background-color: #F38630;
  color: white;
  position: absolute; /* relative to nearest positioned ancestor */
  left: (5 * @gridSize);
  top: @gridSize;
  &:hover {
    background-color: #ff9842;
  }
  &:active {
    background-color: gray;
  }
}

#Test {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
}